[submodule "materials-students"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/materials-students
[submodule "assignment-1-okaheel"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-1-okaheel
[submodule "assignment-10-g1"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-10-g1
[submodule "assignment-2-okaheel"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-2-okaheel
[submodule "assignment-3-okaheel"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-3-okaheel
[submodule "assignment-4-okaheel"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-4-okaheel
[submodule "assignment-5-team"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-5-team
[submodule "assignment-6-team8"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-6-team8
[submodule "assignment-7-okaheel"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-7-okaheel
[submodule "assignment-8-group-14"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-8-group-14
[submodule "assignment-9-okaheel"]
	url = https://github.com/CU-Boulder-STAT-2600-Spring-2020/assignment-9-okaheel
